html {
     overflow-y: scroll;
     overflow-x: hidden;
}
html,
body {
     font-family: 'Josefin Sans', sans-serif;
     display: flex;
     flex-direction: column;
     user-select: none;
     -moz-user-select: none;
     -webkit-user-select: none;
     -ms-user-select: none;
     min-height: 100vh;
}
.scheduleTable td:first-child {
     position: -webkit-sticky;
     position: sticky;
     /* border-right: 1px solid #ddd; */
     left: 0;
     z-index: 2;
     min-width: max-content;
}
.scheduleTable th:first-child {
     position: -webkit-sticky;
     position: sticky;
     left: 0;
     background: 'aygreen.50';
     z-index: 2;
     min-width: max-content;
}
.scheduleTable th {
     border-bottom: none;
}

.szh-menu {
     background-color: #d7e0ce !important;
}
